/* Estilos para el contenedor general */
/* .contenedor-general {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2C0F2B;
   
  }
   */
   body{
    background-color: #ffffff;
}

  /* Estilos para el primer contenedor de imagen */
  .contenedor-imagen {
    background-image: url('../../img/fondos/vista3.jpg'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    flex: 1;
    width: 100vw; 
    /* margin-right: 200px; */
    height: 70vh; 
    margin-top: 20px;
    position: relative; /* Agregamos posición relativa */
    z-index: 1;
  }
  .contenedor-imagen::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5); /* Filtro oscuro con opacidad 0.5 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Capa detrás de otros contenidos */
  }
  .contenedor-imagen h3 {
    font-size: 50px;
    color: rgba(189, 157, 86, 1); /* Color del texto sin opacidad */
    z-index: 2;
    margin: 0 0 20px; /* Agrega espacio entre los párrafos */
    text-align: center; /* Centra el texto horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Centra verticalmente el texto */
    opacity: 1; /* Sin opacidad para el texto */
  }

  
  /* Estilos para la imagen en el primer contenedor */
  /* .imagen {
    width: 100vw; 
    height: 100vh; 
  }
   */
.container{
    max-width: 100%; /* Ancho máximo del contenedor */
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc; /* Borde opcional */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

  /* Estilos para el segundo contenedor dividido en dos partes */
  .contenedor {
    display: flex;
    flex: 1;
    max-width: 100vw;
    background-color: #ffffff;
  }
  /* Estilos para la parte de texto */
  .contenedor-texto {
    flex: 1;
    padding: 20px;
    max-width: 50%; /* Ancho máximo del contenedor */
    flex-direction: column; /* Para centrar el contenido verticalmente */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 0 15%; /* Margen de separación a los lados */
  }
  
  /* Estilos para el título del texto */
  .contenedor-texto h3 {
    font-size: 24px;
    margin: 0;
    color: #BD9D56;
    margin-bottom: 25px;
  }

  .contenedor-texto h2{
    margin-bottom: 25px;
    font-size: 15px;
  } 
  /* Estilos para el párrafo de texto */
  .contenedor-texto p {
    margin: 0;
    margin-bottom: 25px;
  }

  .contenedor-texto li {
    /* text-align: center;  */
    justify-content: center;
  }
  
  /* Estilos para la imagen en el segundo contenedor */
  .container-img img {
    max-width: 45vw;
    height: 45vh;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    padding: 20px;
    margin-left: 0px; 
  }

  .texto{
    margin-left: 100px;
    color: #BD9D56;
    text-align: center;
  }
  
  /* Estilo para el botón */
.button {
    background-color: #BD9D56; /* Color dorado */
    color: #fff; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
    margin-top: 20px; /* Espaciado superior */
    display: block; /* Hacer que el botón sea de ancho completo */
    margin: 0 auto; /* Centrar horizontalmente */
  }
  
  /* Estilo para el botón al pasar el mouse (hover) */
  .button:hover {
    background-color: #A0823B; /* Cambiar el color de fondo al pasar el mouse */
  }